init.author.name=Alex Booker
init.author.username=alexbooker
init.author.email=alexbooker@fastmail.im
init.author.url=https://booker.codes
init.licence=MIT
loglevel=silent
//registry.npmjs.org/:_authToken=1af7e194-0a9c-495f-baee-8f19a2e09399
