snippet im
import ${1} from '${2}'${0}
endsnippet

snippet log
console.log(${0})
endsnippet

snippet fun
function ${1}(${2}) {
	${0}
}
endsnippet

snippet if
if (${1}) {
	${0}
}
endsnippet

snippet ctor
constructor() {
	super()
	${0}
}
endsnippet

snippet ss
this.setState({
	${0}
})
endsnippet

snippet :
${1}: ${0}
endsnippet

